/* Background and header */
.d2l-body d2l-navigation-main-header, .d2l-body {
    background-color: #222222 !important;
}

/* Text color */
.d2l-typography {
    color: #fdfdfd !important;
}

/* Datalist containers */
.d2l-datalist-container {
    background-color: #333333 !important;
    border-color: #444444 !important;
}

/* Message container */
.d2l-msg-container {
    background-color: #383838 !important;
    border-color: #404040 !important;
    color: #f0f0f0 !important;
}

/* Tile color */
.d2l-tile {
    background-color: #333333 !important;
    border-color: #444444 !important;
    box-shadow: #111111 !important;
}

/* Card color */
d2l-card {
    background-color: #404040 !important;
    outline-color: #404040 !important;
    border-color: #505050 !important;
    color: #fdfdfd !important;
}

/* Card content color */
d2l-card-content-meta {
    color: #c0c0c0 !important;
}

/* Iframe content color */
html, .d2l-htmlblock {
    background-color: #404040 !important;
}

/* Menu items color */
d2l-menu-item-link {
    background-color: #404040 !important;
    border-color: #505050 !important;
    color: #fdfdfd !important;
}


/* Calendar color */
.calendar-header, .calendar {
    background-color: #404040 !important;
    border-color: #505050 !important;
    color: #fdfdfd !important;
}

/* Calendar overlay color */
.overlay-window, #overlay-title, #overlay-day, #overlay-date {
    background-color: #404040 !important;
    border-color: #505050 !important;
    color: #fdfdfd !important;
}

/* Calendar event color */
.eventbox * {
    background-color: #404040 !important;
    border-color: #505050 !important;
    color: #fdfdfd !important;
}
